.maincontact{
    font-family:'Times New Roman', Times, serif;
}
.image{
    background-image: url('../Asset/Image/bg-10.jpg');
    background-size: cover;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.image{
    h1{
        font-weight: bolder;
        text-decoration: overline;
        color: white;
    }
}
.form1{
    input{
        padding: 5px;
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }
    textarea{
        padding: 5px;
        width: 100%;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }

}
.button{
    border-top-left-radius: 15px;
    border-bottom-left-radius:0px ;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 15px;
    background-color: gold;
    width: 100px;
    padding: 10px;
    margin: auto;
    cursor: pointer;
    transition: 1s;
}
.button:hover{
    border-top-left-radius: 0px;
    border-bottom-left-radius:15px ;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    background-color: rgb(142, 122, 9);
    transition: 1s;
    color: white;
    font-weight: bolder;
}
.map{
    min-height: 70vh;
}