.table {
    background-color: transparent;
}

small:hover {
    color: rgb(163, 140, 11);
    cursor: pointer;
}

.contact {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bolder;
}

.contact:hover {
    color: gold;
    cursor: pointer;
}


